$fontSizeMain: 20px;
$fontSizeheader: 16px;
$fontSizeButton: 16px;
$fontSizeTitle: 64px;

$lineHeightMain: 23px;
$lineHeightheader: 19px;
$lineHeightButton: 21.79px;
$lineHeightTitle: 75px;

$backgroundColor: #141414;
$mainTextColor: #676767;
$additionalTextColor: #d8d8d8;
$borderBoxColor: #a9a9a9;
$borderBoxHoverColor: #ff5555;
$textHoverColor: #ff5555;
$buttonColor: #ff5555;
$buttonHoverColor: #676767;

.personalAccount {
    background-color: $backgroundColor;
    color: $mainTextColor;
    &__header {
        font-size: $fontSizeheader;
        line-height: $lineHeightheader;
        display: flex;
        box-sizing: border-box;
        padding: 4vh 5vw;
        &__logo {
        }
        &__topBar {
            display: flex;
            margin-left: 55vw;
            gap: 30px;
            &__button {
                cursor: pointer;
                color: $mainTextColor;
                &__exit {
                    margin-top: -1.5vh;
                    cursor: pointer;
                    box-sizing: border-box;
                    padding: 1.5vh 3vw;
                    border-radius: 20px;
                    color: $additionalTextColor;
                    margin-left: 5vw;
                    background-color: $buttonColor;
                    height: 5vh;
                    width: 9vw;
                    transition: background-color 1s;
                }
                &__exit:hover {
                    background-color: $backgroundColor;
                }
            }
            &__button:hover {
                color: $textHoverColor;
            }
        }
    }
    &__img {
        background-color: #d8d8d8;
        height: 40vh;
    }
    &__main {
        font-size: $fontSizeMain;
        line-height: $lineHeightMain;
        margin: -15vh 10vw 0 10vw;
        width: 80vw;
        height: 100ch;
        &__userInfo {
            display: flex;
            justify-content: space-between;
            &__avatar {
                width: 200px;
                display: grid;
                text-align: center;
                gap: 24px;
                &__img {
                    background-color: black;
                    height: 200px;
                    border-radius: 100px;
                    border: 2px solid $borderBoxColor;
                }
                &__name {
                    color: $additionalTextColor;
                }
            }
            &__data {
                display: flex;
                gap: 58px;
                margin-top: 150px;
                height: 10px;
                &__copy {
                    cursor: pointer;
                }
                &__copy:hover {
                    color: $textHoverColor;
                }
                &__editProfileAndSetting {
                    display: flex;
                    gap: 12px;
                    &__img {
                        cursor: pointer;
                    }
                    &__text {
                        cursor: pointer;
                    }
                    &__text:hover {
                        color: $textHoverColor;
                    }
                }
            }
        }
    }
}
