.profile {
    margin-top: 66px;
    margin-left: 208px;
    &__h {
        line-height: 52px;
        font-size: 40px;
        font-weight: 700;
        width: 180px;
        height: 52px;
    }
    &__personalInformation {
        width: 1024px;
        height: 360px;
        margin-top: 60px;
        margin-bottom: 35px;
        &__heading {
            text-align: left;
            height: 60px;
            width: 392px;
            &__text {
                line-height: 26px;
                font-size: 20px;
                font-weight: 600;
                color: #333;
            }
            &__discriptionText {
                margin-top: 8px;
                line-height: 26px;
                font-size: 14px;
                font-weight: 500;
                color: #747474;
            }
        }
        &__dataUser {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 260px 764px;
            background-color: #f7f7f7;
            color: #7a7a7a;
            text-align: left;
            &__box {
                min-height: 54px;
                border: 1px solid #e1e1e1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 18px;
                &__change {
                    line-height: 21.86px;
                    font-size: 16px;
                    font-weight: 600;
                    color: #0052b4;
                }
            }
        }
    }
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.changeParametersBg {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.changeParameters {
    position: absolute;
    top: 15%;
    left: 30%;
    height: 492px;
    width: 524px;
    background-color: #fff;
    &__vector {
        margin-top: 5%;
        margin-left: 90%;
    }
    &__mainBlock {
        height: 302px;
        width: 404px;
        margin-top: 5%;
        margin-left: 12%;
        &__title {
            line-height: 26px;
            font-size: 24px;
            font-weight: 600;
            color: #333;
        }
        &__explanation {
            margin-top: 13px;
            line-height: 26px;
            font-size: 16px;
            font-weight: 500;
            color: #8e8e8e;
        }
        &__dateNumberAndMail {
            margin-top: 13px;
            display: grid;
            color: #7a7a7a;
            grid-template-rows: repeat(2, 72px);
            grid-template-columns: 141px 263px;
            &__boxDate {
                display: flex;
                align-items: center;
                text-align: left;
                background-color: #f7f7f7;
                border: 1px solid #e1e1e1;
                padding-left: 15px;
            }
        }
    }
    &__btnChange {
        display: flex;
        margin-top: 5%;
        margin-left: 12%;
        background-color: #0052b4;
        filter: drop-shadow(0px 0px 7px rgba(0, 82, 180, 24%));
        border-radius: 10px;
        height: 50px;
        width: 210px;
        line-height: 20px;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        justify-content: center;
        transition: background-color 1s;
        &__btnText {
            display: flex;
            align-items: center;
            text-align: center;
            padding: 5px 18px;
        }
    }
    &__btnChange:hover {
        background-color: #bdc0c3;
    }
}
