$textColor: #333;
$discriptionTextColor: #747474;
$additionalTextColor: #7a7a7a;
$rareTextColor: #8e8e8e;
$selectedTextColor: #0052b4;
$numberBackgroundColor: #b5d7ff;
$buttonColor: #0052b4;
$buttonTextColor: #fff;
$changeParametersBackgroundColor: #fff;
$mainBackgroundColor: #f7f7f7;
$borderColor: #e1e1e1;
$btnChangeColor: #bdc0c3;

$mainWeightText: 600;
$additionalWeightText: 500;
$titleWeightText: 700;

$mainSizeText: 20px;
$changeSizeText: 16px;
$discriptionSizeText: 14px;
$titleSizeText: 40px;
$additionalExplanationSizeText: 16px;
$btnSize: 16px;

$titleLineHeightText: 52px;
$additionalTitleLineHeightText: 24px;
$mainLineHeightText: 26px;
$explanatoryLineHeightText: 26px;
$changeLineHeightText: 22px;
$btnLine: 20px;

.profile {
    margin-top: 66px;
    margin-left: 208px;
    &__h {
        line-height: $titleLineHeightText;
        font-size: $titleSizeText;
        font-weight: $titleWeightText;
        width: 180px;
        height: 52px;
    }
    &__personalInformation {
        width: 1024px;
        height: 360px;
        margin-top: 60px;
        margin-bottom: 35px;
        &__heading {
            text-align: left;
            height: 60px;
            width: 392px;
            line-height: $mainLineHeightText;
            &__text {
                font-size: $mainSizeText;
                font-weight: $mainWeightText;
                color: $textColor;
            }
            &__discriptionText {
                margin-top: 8px;
                font-size: $discriptionSizeText;
                font-weight: $additionalWeightText;
                color: $discriptionTextColor;
            }
        }
        &__dataUser {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 260px 764px;
            background-color: $mainBackgroundColor;
            color: $additionalTextColor;
            text-align: left;
            &__box {
                min-height: 54px;
                border: 1px solid $borderColor;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 18px;
                &__change {
                    line-height: $changeLineHeightText;
                    font-size: $changeSizeText;
                    font-weight: $mainWeightText;
                    color: $selectedTextColor;
                }
            }
        }
    }
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

.changeParametersBg {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.changeParameters {
    position: absolute;
    top: 15%;
    left: 30%;
    height: 492px;
    width: 524px;
    background-color: $changeParametersBackgroundColor;
    &__vector {
        margin-top: 5%;
        margin-left: 90%;
    }
    &__mainBlock {
        height: 302px;
        width: 404px;
        margin-top: 5%;
        margin-left: 12%;
        &__title {
            line-height: $mainLineHeightText;
            font-size: $additionalTitleLineHeightText;
            font-weight: $mainWeightText;
            color: $textColor;
        }
        &__explanation {
            margin-top: 13px;
            line-height: $explanatoryLineHeightText;
            font-size: $additionalExplanationSizeText;
            font-weight: $additionalWeightText;
            color: $rareTextColor;
        }
        &__dateNumberAndMail {
            margin-top: 13px;
            display: grid;
            color: $additionalTextColor;
            grid-template-rows: repeat(2, 72px);
            grid-template-columns: 141px 263px;
            &__boxDate {
                display: flex;
                align-items: center;
                text-align: left;
                background-color: $mainBackgroundColor;
                border: 1px solid $borderColor;
                padding-left: 15px;
                &__input {
                    width: 70%;
                }
                &__eye {
                    margin-left: 10%;
                }
            }
        }
    }
    &__oldPassNone {
        display: none;
    }
    &__oldPassBlock {
        display: block;
        margin-top: 10px;
        color: red;
    }
    &__newPassNone {
        display: none;
    }
    &__newPassBlock {
        margin-top: 10px;
        display: block;
        color: red;
    }
    &__btnChange {
        display: flex;
        margin-top: 5%;
        margin-left: 12%;
        background-color: $buttonColor;
        filter: drop-shadow(0px 0px 7px rgba(0, 82, 180, 24%));
        border-radius: 10px;
        height: 50px;
        width: 210px;
        line-height: $btnLine;
        font-size: $btnSize;
        font-weight: $additionalWeightText;
        color: $buttonTextColor;
        justify-content: center;
        transition: background-color 1s;
        &__btnText {
            display: flex;
            align-items: center;
            text-align: center;
            padding: 5px 18px;
        }
    }
    &__btnChange:hover {
        background-color: $btnChangeColor;
    }
}
