details {
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  line-height: 25px;
  font-weight: 400;
  font-size: 16px;
  color: #7a7a7a;
}

details > div {
  padding-top: 18px;
}

summary {
  line-height: 25px;
  font-weight: 700;
  font-size: 24px;
  color: #404040;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link:hover {
  cursor: pointer;
}

.additionalColor {
  color: #0052b4;
}

.additionalWeight {
  font-weight: 600;
}

.chevron {
  height: 28px;
  width: 28px;
}

.landing {
  font-size: 16px;
}
.landing__header {
  height: 60px;
  display: flex;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(219, 219, 219, 0.25));
  line-height: 22px;
}
.landing__header__block {
  height: 24px;
  width: 431px;
  display: flex;
  gap: 40px;
  margin-top: 18px;
  margin-left: 706px;
  align-items: center;
}
.landing__header__block__imgFlag {
  width: 48px;
  display: flex;
  gap: 8px;
}
.landing__header__block__tg {
  width: 152px;
  display: flex;
  gap: 8px;
}
.landing__header__block__button {
  height: 36px;
  width: 100px;
  display: flex;
  color: #fff;
  background: #0052b4;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 7px rgba(0, 82, 180, 0.24));
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  gap: 10px;
  transition: background-color 1s;
  box-sizing: border-box;
  justify-content: center;
}
.landing__header__block__button:hover {
  background-color: #bdc0c3;
}
.landing__header__block__text:hover {
  color: #0052b4;
}
.landing__main__topDiv {
  width: 484px;
  display: grid;
  gap: 40px;
  margin-top: 125px;
  margin-left: 13%;
}
.landing__main__topDiv__topBlok {
  display: grid;
  gap: 14px;
}
.landing__main__topDiv__topBlok__topBlokTitle {
  height: 116px;
  color: #404040;
  line-height: 53px;
  font-weight: 700;
  font-size: 44px;
}
.landing__main__topDiv__topBlok__topBlokText {
  width: 468px;
  height: 84px;
  color: #7a7a7a;
  line-height: 22px;
  font-weight: 400;
  font-size: 16px;
}
.landing__main__topDiv__topBlok__topButton {
  height: 54px;
  width: 230px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 7px rgba(0, 82, 180, 0.24));
  background-color: #0052b4;
  color: #fff;
  justify-content: center;
  line-height: 20px;
  transition: background-color 1s;
}
.landing__main__topDiv__topBlok__topButton:hover {
  background-color: #bdc0c3;
}
.landing__main__bg {
  width: 100%;
  pointer-events: none;
}
.landing__main__info {
  display: grid;
  gap: 61px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 115px;
}
.landing__main__info__infoTitle {
  display: grid;
  gap: 16px;
  width: 701px;
  margin: auto;
  text-align: center;
}
.landing__main__info__infoTitle__title {
  line-height: 53px;
  font-weight: 700;
  font-size: 44px;
  letter-spacing: -2px;
}
.landing__main__info__infoTitle__infoText {
  line-height: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #808080;
  width: 600px;
  margin: auto;
}
.landing__main__info__infoBlock {
  display: flex;
  gap: 16px;
}
.landing__main__info__infoBlock__infoDiv {
  display: grid;
  gap: 16px;
  background-color: #fff;
  justify-items: center;
  text-align: center;
  filter: drop-shadow(0px 4px 7px rgba(201, 201, 201, 0.25));
  padding: 30px 24px;
}
.landing__main__info__infoBlock__infoDiv__Clipboard {
  display: flex;
  height: 36px;
  width: 36px;
  background-color: #b5d7ff;
  border-radius: 17px;
  justify-content: center;
  align-items: center;
}
.landing__main__info__infoBlock__infoDiv__infoBlockTitle {
  line-height: 36px;
  font-weight: 700;
  font-size: 24px;
}
.landing__main__info__infoBlock__infoDiv__infoBlockText {
  line-height: 25px;
  font-weight: 400;
  color: #7a7a7a;
}
.landing__main__city {
  margin-top: -20px;
  width: 100%;
  pointer-events: none;
}
.landing__main__foooter {
  background-color: #dfe8eb;
  position: relative;
  margin-top: -35px;
}
.landing__main__foooter__submissionOfBocuments {
  display: grid;
  width: 556px;
  gap: 68px;
  margin-left: 15%;
  margin-top: 25px;
}
.landing__main__foooter__submissionOfBocuments__title {
  line-height: 53px;
  font-weight: 700;
  font-size: 44px;
}
.landing__main__foooter__submissionOfBocuments__submissionOfBocumentsStages {
  display: grid;
  gap: 16px;
}
.landing__main__foooter__submissionOfBocuments__submissionOfBocumentsStages__submissionOfBocumentsStage {
  display: flex;
  gap: 11px;
}
.landing__main__foooter__submissionOfBocuments__submissionOfBocumentsStages__submissionOfBocumentsStage__stageNumber {
  display: flex;
  background-color: #b5d7ff;
  padding: 8px 15px;
  height: 22px;
  justify-content: center;
  border-radius: 17px;
}
.landing__main__foooter__submissionOfBocuments__submissionOfBocumentsStages__submissionOfBocumentsStage__stageDiv {
  display: grid;
  gap: 8px;
}
.landing__main__foooter__submissionOfBocuments__submissionOfBocumentsStages__submissionOfBocumentsStage__stageDiv__stageTitle {
  line-height: 36px;
  font-weight: 700;
  font-size: 24px;
}
.landing__main__foooter__submissionOfBocuments__submissionOfBocumentsStages__submissionOfBocumentsStage__stageDiv__stageText {
  line-height: 25px;
  font-weight: 400;
  font-size: 16px;
  color: #7a7a7a;
}
.landing__main__foooter__iPhone {
  margin-left: 65%;
  margin-top: 75px;
  pointer-events: none;
}
.landing__main__foooter__faq {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  display: grid;
  gap: 50px;
}
.landing__main__foooter__faq__title {
  line-height: 53px;
  font-weight: 700;
  font-size: 44px;
}
.landing__main__foooter__faq__faqDetails {
  display: grid;
  gap: 16px;
}
.landing__main__foooter__questions {
  display: grid;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 420px;
  justify-content: center;
  padding-bottom: 200px;
}
.landing__main__foooter__questions__title {
  line-height: 53px;
  font-weight: 700;
  font-size: 44px;
}
.landing__main__foooter__questions__questionsMain {
  display: grid;
  gap: 20px;
  width: 305px;
  justify-content: center;
  margin: auto;
}
.landing__main__foooter__questions__questionsMain__questionsText {
  margin: auto;
  line-height: 36px;
  font-weight: 700;
  font-size: 24px;
  color: #7a7a7a;
  letter-spacing: -1px;
}
.landing__main__foooter__questions__questionsMain__questionsButton {
  align-items: center;
  display: flex;
  gap: 21px;
  border-radius: 12px;
  padding: 18px 68px;
  color: #fff;
  background: linear-gradient(#37bbfe, #007dbb);
}
.landing__main__foooter__questions__questionsMain__questionsButton__questionsButtonText {
  line-height: 22px;
  font-size: 16px;
  color: #fff;
}
.landing__footer {
  background-color: #081627;
  height: 100px;
  line-height: 19px;
  font-size: 14px;
  color: #7a7a7a;
  display: grid;
}
.landing__footer__divText1 {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing__footer__divText1__telegram {
  color: #fff;
  display: flex;
  gap: 8px;
}
.landing__footer__divText1__telegram:hover {
  color: #0052b4;
}
.landing__footer__divText2 {
  margin: auto;
  display: flex;
  justify-content: space-between;
  line-height: 16px;
  font-weight: 600;
  font-size: 12px;
}
.landing__footer__selectedText:hover {
  color: #0052b4;
}/*# sourceMappingURL=lending.css.map */